@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;
@import 'flowbite/src/themes/default';

/*
Add additional Tailwind styles to this file, for example with @layer:
https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
*/
