---
interface Props {
	href?: string | undefined;
	target?: string | undefined;
}
const { href, target } = Astro.props;
const El = href ? 'a' : 'span';
---

<li class="flex">
	<El
		class="lux-card lux-card-hover flex w-full flex-col overflow-hidden"
		{href}
		{target}
	>
		<div class="aspect-video overflow-hidden bg-slate-950 [&_lite-youtube]:h-full [&_lite-youtube]:w-full">
			<slot name="media" />
		</div>
		<div class="flex flex-1 flex-col p-5">
			<slot />
		</div>
	</El>
</li>
