---
interface Props {
	href?: string | undefined;
	target?: string | undefined;
}
const { href, target } = Astro.props;
const El = href ? 'a' : 'span';
---

<li class="flex">
	<El
		class="flex w-full flex-col overflow-hidden rounded-lg border border-gray-200 bg-white shadow-sm transition hover:-translate-y-1 hover:shadow-md dark:border-gray-700 dark:bg-gray-800"
		{href}
		{target}
	>
		<div class="aspect-video overflow-hidden bg-gray-900">
			<slot name="media" />
		</div>
		<div class="flex flex-1 flex-col p-5">
			<slot />
		</div>
	</El>
</li>
