---
import { YouTube } from '@astro-community/astro-embed-youtube';
import MediaCard from './media-card.astro';

export interface Props {
	href: string;
	title: string;
	description?: string;
}
const { href, title, description } = Astro.props;
---

<MediaCard>
	<YouTube slot="media" class="h-full w-full" id={href} posterQuality='max' />
	<div class="space-y-2">
		<p class="text-lg font-semibold text-white">{title}</p>
		{description && (
			<p class="text-sm text-slate-300" set:html={description} />
		)}
	</div>
</MediaCard>
