---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

import '../styles/tailwind.css';
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta property="og:image" content="https://ryanblunden.dev/og-image.jpg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>
		<style is:inline>
			:root {
				font-synthesis-weight: none;
				text-rendering: optimizeLegibility;
				color-scheme: dark;
			}

			@keyframes rise {
				from {
					opacity: 0;
					transform: translateY(24px);
				}

				to {
					opacity: 1;
					transform: translateY(0);
				}
			}
		</style>
	</head>
	<body class="bg-gray-950 font-sans text-slate-100 antialiased">
		<slot />
		<script is:inline type="module">
			import 'flowbite';
		</script>
		<script is:inline>
			(function (C, A, L) {
				let p = function (a, ar) {
					a.q.push(ar);
				};
				let d = C.document;
				C.Cal =
					C.Cal ||
					function () {
						let cal = C.Cal;
						let ar = arguments;
						if (!cal.loaded) {
							cal.ns = {};
							cal.q = cal.q || [];
							d.head.appendChild(d.createElement('script')).src = A;
							cal.loaded = true;
						}
						if (ar[0] === L) {
							const api = function () {
								p(api, arguments);
							};
							const namespace = ar[1];
							api.q = api.q || [];
							if (typeof namespace === 'string') {
								cal.ns[namespace] = cal.ns[namespace] || api;
								p(cal.ns[namespace], ar);
								p(cal, ['initNamespace', namespace]);
							} else p(cal, ar);
							return;
						}
						p(cal, ar);
					};
			})(window, 'https://app.cal.com/embed/embed.js', 'init');

			Cal('init', '30min', { origin: 'https://app.cal.com' });
			Cal.ns['30min']('ui', { hideEventTypeDetails: false, layout: 'month_view' });
		</script>
	</body>
</html>
