---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

import '../styles/tailwind.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta property="og:image" content="https://ryanblunden.dev/og-image.jpg" />
	</head>
	<body class="bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-white">
		<slot />
		<script is:inline type="module">
			import 'flowbite';
		</script>
	</body>
</html>
